*.idea
idea
.DS_Store
*.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/*
#用!可以排除个别文件

#!node_modules/angular/angular.js

#!node_modules/angular-messages/angular-messages.js


#!node_modules/angular-route/angular-route.js


#!node_modules/requirejs/require.js


#!node_modules/requirejs-text/text.js

