<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS & RequireJS • TodoMVC</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<style type="text/css">
			.ng-cloak {display:none;}
		</style>
	</head>
	<body ng-cloak class="ng-cloak"><!--ng-clock用来避免启动闪烁 -->
		<span>simpleHelloDirective测试
			<simple-hello></simple-hello>
		</span>
		<br>
		<span>Capitalizefilter测试： {{ "this is some text" | capitalize }}</span>
		<br>
		<input ng-model="name" class="form-control" type="text" placeholder="Your name">
		<h1>Hello {{ name }}</h1>
		<!--<span ng-bind="name">另一种数据绑定方法，可用于防止闪烁,但与ng-controller好像存在冲突 -->

		<br>


		<div ng-controller="PhoneListCtrl">
			<!-- 这里的focus是自定义的directive 见app.js -->
			Search: <input focus ng-model="query" placeholder="请输入过滤条件">
			Sort by:
			<select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>
			<ul>
				<li ng-repeat="phone in phones  | filter:query | orderBy:orderProp">
					{{phone.name}}
					<p>{{phone.snippet}}</p>
				</li>
			</ul>

			<button ng-click="showHello()">ng-click</button>
		</div>

		<script data-main="js/main" src="node_modules/requirejs/require.js"></script>
	</body>
</html>
