<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <title>指令测试--Angular</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/myAngularCss.css">
</head>
<body ng-cloak><!--ng-clock用来避免启动闪烁 -->
    <label for="helloDirectiveUserName">请输入为HelloDirective演示用的用户名</label>
    <input id="helloDirectiveUserName" ng-init="userNameForHelloDirective='蒋建清'" ng-model="userNameForHelloDirective" type="text" placeholder="请输入用户名">
    <span>自定义指令simpleHelloDirective测试
        <simple-hello user-name="userNameForHelloDirective" new-address="江苏常州" email="cz_jjq@qq.com"></simple-hello>
    </span>
    <div>
        <p>ng-show\ng-hide测试</p>
        <button ng-init="shouldShow = true" ng-click="shouldShow = !shouldShow" >点击切换</button>
        <div ng-show="shouldShow">
            <h3>Showing {{ shouldShow }}</h3>
        </div>
        <div ng-hide="shouldShow">
            <h3>Hiding {{ shouldShow }}</h3>
        </div>
    </div>

    <div ng-controller="PhoneListController">
        <!-- 注意：使用ctrl.$setValidity时会在formname.inputname.$error下增加一个key，所以$setValidity只能用于表单范围内 -->
        <form name="signup_form" novalidate ng-submit="">
            <label for="userName">用户名必须唯一测试(输入my为正确，其他输入项为错误)</label>
            <input id="userName" name="userName" ng-model="userName" ensure-unique="user">
            <div ng-show="signup_form.userName.$dirty && signup_form.userName.$invalid">
                <pre class="error" ng-show="signup_form.userName.$error.unique">用户名必须唯一！</pre>
            </div>
        </form>
    </div>

    <div ng-controller="PlayerController">
        <p>自定义播放器</p>
        <button ng-click="play()" class="button" ng-show="!playing">Play</button>
        <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
        Playing audio: <b>{{ playing }}</b>

        <ul id="programs_list" class="">
            <!-- 这里是简单示例，下面用模板代替
            <li ng-repeat="program in programs" ng-click="play(program)">
                <span class="large-12">{{ program.title.$text }}</span>
            </li>
            -->
            <li ng-repeat="program in programs">
                <span npr-link play='play(program)' ng-model="program"></span>
            </li>
        </ul>
    </div>

    <script data-main="js/main" src="../node_modules/requirejs/require.js"></script>
</body>
</html>
