<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <title>表达式测试--Angular</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/myAngularCss.css">
</head>
<body ng-cloak><!--ng-clock用来避免启动闪烁 -->
    <div id="test"></div>
    <div ng-controller="ExprController">
        <form name="expr_test_form" novalidate ng-submit="">
            <fieldset>
                <legend>字符串插值测试--修改body可以实时刷新previewText区域，可用表达式:to</legend>
                <label for="to">to</label>
                <input id="to" name="to" ng-model="to" placeholder="请输入收件人">
                <label for="body">body</label>
                <textarea id="body" name="body2" ng-model="body" placeholder="请输入邮件正文"></textarea>
                <div id="emailPreview">
                    <pre>预览：{{previewText}}</pre>
                </div>
            </fieldset>

            <fieldset>
                <legend>表达式测试--手动用$parse计算表达式，作用域为当前scope，不需要使用表达式符号即可计算,延迟一秒计算</legend>
                <input id="expr" name="expr" ng-model="expr" placeholder="请输入表达式">
                <pre>预览：{{parsedVal}}</pre>
            </fieldset>
        </form>

    </div>
    <script data-main="require-config" src="bower_components/requirejs/require.js"></script>
</body>
</html>
