<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <title>过滤器测试--Angular</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/myAngularCss.css">
</head>
<body ng-cloak ><!--ng-clock用来避免启动闪烁 -->

    <span>自定义Capitalizefilter测试： {{ "this is sOme Text" | lowercase | capitalize }}</span>
    <br>

    <!-- 使用currency过滤器-->
    <div>currency过滤器: {{ 10 * 3.3 | currency }} </div>

    <div ng-controller="PhoneListController">
        <!-- 最佳实践：在视图中绑定对象属性 而非对象本身 -->
        <p>date过滤器测试，当前时间：{{clock.now|date:'yyyy-MM-dd HH:mm:ss'}}</p><!-- 过滤器使用范例 -->
        <!-- 这里的focus是自定义的directive 见app.js -->
        Search: <input focus ng-model="query" placeholder="请输入过滤条件">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
        <ul>
            <li ng-repeat="phone in phones  | filter:query | orderBy:orderProp:true"><!-- orderBy的第二个参数可以用来改变顺序-->
                {{phone.name}}
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>

    <script data-main="js/main" src="../node_modules/requirejs/require.js"></script>
</body>
</html>
