<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <!--
    <base href="app"> 打开Html5模式的时候需要使用 或者 在 $locationProvider.html5Mode 中设置requireBase: false-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>表单测试</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->

    <!--(if target dist)>
        <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <!(endif)-->
    <!--(if target dummy)><!-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!--<!(endif)-->
    <title>My AngularJS App</title>
    <!--
    <link rel="stylesheet" href="app.css">
    -->
    <link rel="stylesheet" href="styles/myAngularCss.css">
</head>
<body ng-cloak class="container"><!--ng-clock用来避免启动闪烁 -->
    <h4>**注意：所有的表单元素都必须有name属性**</h4>

    <form name="signup_form" novalidate ng-submit="">

        <fieldset>
            <legend>表单测试</legend>
            <div class="form-group" ng-class="{'has-error':signup_form.emailAddr.$dirty && signup_form.emailAddr.$invalid}">
                <label for="emailAddr1" class="control-label">邮件地址</label>
                <input id="emailAddr1" name="emailAddr" ng-model="emailAddress" class="form-control" type="email" placeholder="Please input email address" required>
                <span class="help-block" ng-if="signup_form.emailAddr.$error.email">
                    邮件地址无效！
                </span>
                <span class="help-block" ng-if="signup_form.emailAddr.$error.required">
                    邮件地址必须要输入！
                </span>
                <span class="help-block" ng-if="signup_form.emailAddr.$valid">邮件地址有效：{{emailAddress}}</span>
            </div>
            <!-- 表单验证必须有name属性  -->

        </fieldset>
        <button class="btn btn-primary" type="submit" ng-disabled="signup_form.$invalid">提交</button>
        <!--<span ng-bind="name">另一种数据绑定方法，可用于防止闪烁,但与ng-controller好像存在冲突 -->
    </form>

    <form name="ngMessagesTestForm" novalidate ng-submit="">
        <fieldset>
            <legend>ngMessages表单测试</legend>

            <!-- 表单验证必须有name属性  -->
            <input name="emailAddr" ng-model="emailAddress" class="form-control" type="email" placeholder="请输入邮件地址" required>
            <div ng-messages="ngMessagesTestForm.emailAddr.$error">
                <small class="error" ng-message="email">
                    邮件地址无效！
                </small>
                <small class="error" ng-message="required">
                    邮件地址必须要输入！
                </small>
            </div>
            <!-- ng-message 必须在ng-messages的范围内使用，否则会报错 -->
            <!--<div ng-message="signup_form.emailAddr.$valid">-->
                <!--<p>邮件地址有效：{{emailAddress}}</p>-->
            <!--</div>-->

        </fieldset>
        <button type="submit" ng-disabled="signup_form.$invalid">提交</button>
        <!--<span ng-bind="name">另一种数据绑定方法，可用于防止闪烁,但与ng-controller好像存在冲突 -->
    </form>

<!--(if target dist)>
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>

    <script data-main="require-config" src="lib/requirejs/require.js"></script>
<!(endif)-->
<!--(if target dummy)><!-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script data-main="require-config" src="../bower_components/requirejs/require.js"></script>
<!--<!(endif)-->
</body>
</html>
